.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  max-width: 164px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item: hover {
  background-color: #eee;
}

svg {
  height: 150px;
}


td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
